---
import Logo from '../maia395logo.svg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>maia395</title>
	<style> body {background-color:#1E1E50} </style>
  </head>
  <body>
	<div> <Logo /> </div>
  </body>
</html>