---
import '../styles/global.css'
import NavigationBar from "../components/navigationBar.astro"
import InfoCard from '../components/InfoCard.astro'
import GenericPageWrapper from '../components/GenericPageWrapper.astro'
---

<GenericPageWrapper>
	<InfoCard title="Introduction" content="Hello! I am Maia, a student studying Computer Science BSc. I have an avid interest in software,
	trains and the Meshtastic project. The personal projects I am currently working on include a SRTM dataset plotter, a bridge
	between my meshtastic node and this website, and a game where the player must connect various industries by designing their own railway
	system.
	<br/><br/>
	My favourite language is Rust (and my favourite engine is Bevy) though I also have experience with Java, Javascript, Lua and Python."/>
	<br/>
	<InfoCard title="This website" content="I made this website with Astro and deployed it on cloudflare workers. It serves the purpose of
	being my personal portfolio as well as a place to experiment with web technology and to show off my hobbies."/>
	<h1> Bla bla bla :3 </h1>
	<h1> hello </h1>
	<h1> meow </h1>
</GenericPageWrapper>