---
import GenericPageWrapper from "../components/GenericPageWrapper.astro";
---

<GenericPageWrapper>
    <h1 style="left:50%;margin-top:200px;width:100%;text-align:center;"> This page is currently a work in progress, please check back later! </h1> 
</GenericPageWrapper>