---
import '../styles/global.css'
import '../styles/cards.css'
import NavigationBar from '../components/navigationBar.astro'
import ImageCard from '../components/ImageCard.astro';
import Class800Image from '../assets/DSC_7879.jpg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>maia395</title>
  </head>
  <body>
    <NavigationBar/>
    <div style="display:flex;flex-direction:column;align-items:center;">
    <ImageCard title="Class 800" image={Class800Image} alt="A class 800 in Dawlish"/>
    </div>
</body>
</html>