---
import '../styles/global.css'
import NavigationBar from "../components/navigationBar.astro"
import Logo from '../components/Logo.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A portfolio website to discuss my hobbies and projects.">
    <title>maia395</title>
  </head>
  <body style="width:100%;overflow-x:hidden;padding:0px;margin:0px;padding-top:60px;">
  <div style="position:absolute;top:25px;left:25px;width:100px;height:auto;"> <Logo/> </div>
	<NavigationBar/>
	<slot/>
  </body>
</html>