---
import '../styles/global.css'
import NavigationBar from "../components/navigationBar.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>maia395</title>
  </head>
  <body>
	<NavigationBar/>
	<slot/>
  </body>
</html>