---
import '../styles/global.css'
import '../styles/cards.css'
import { Image } from 'astro:assets';
const {title, description, image, alt} = Astro.props;
---

<div class="card" style="display:flex;justify-content:center;flex-direction:column;align-items:center;padding:20px;width:100%;max-width:100%;box-sizing:border-box;">
    <div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-start;gap:40px;width:100%;">
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <Image layout="full-width" src={image} alt={alt} style="border-radius:25px;width:100%;height:auto;"/>
</div>