---
import '../styles/global.css'
import '../styles/cards.css'
const { title, content } = Astro.props;
---

<div class="card">
    <h1>{title}</h1>
    <p style="white-space:normal;" set:html={content}></p>
</div>