---
import '../styles/global.css'
const { title, content } = Astro.props;
---

<div style="border-radius:25px;box-shadow:0px 1px 5px -1px grey; padding-left:15px;padding-bottom:5px;padding-top:5px">
    <h1>{title}</h1>
    <p>{content}</p>
</div>