---
import Logo from '../assets/maia395logo.svg';
---

<style>
    .bar {
        background-color: #222222;
        position: absolute;
        left: 50%;
        width: 80%;
        height: 80px;
        top: 10px;
        transform: translate(-50%, 0);
        border-radius: 25px;
        display: flex;
        justify-content: left;
        align-items:center;
        padding: 0px;
        padding-left: 20px;
        gap: 30px;
        box-shadow: 0px 1px 2px 2px black;
    }

    .navButton {
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
</style>

<div class="bar">
    <Logo style="width:200px; height:50px; margin:0px; padding:0px;" />
    <div class="navButton"> Home </div>
    <div class="navButton"> Trains </div>
</div>

